.Timer {
    position: fixed;
    bottom: 0;
    max-width: 90px;
    margin: 0 15px 0;
    transform: translateY(-50%);
    padding: 10px;
    background: #FFFF00;
    border: 5px solid #ffffff;
    font-size: 36px;
    -moz-box-shadow:0 3px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    color: #000000;
    z-index: 10;
}

@media only screen and (max-width: 480px) {
    .Timer {
        left: 50%;
        margin-left: -42px;
        transform: translateY(0%);
        font-size: 24px;
    }
}